.elements{
    max-width: 880px;
    margin: 0 auto;
    padding: 51px 0 67px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 17px;
    box-sizing: border-box;
}

@media screen and (max-width: 650px) {
    .elements{
        padding: 36px 0 48px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}